<ion-header style="z-index: 200000;" >
  <ion-toolbar class="toolbar-background">
    <ion-buttons slot="start" style="margin-top: px; padding-top: 0px;">
      <ion-menu-button></ion-menu-button>
      <ion-label >Fontaneros 606 41 02 75</ion-label>
    </ion-buttons>
  
    <ion-grid class="hogar-menu">
      <ion-row>
        <ion-col size="6">
        </ion-col>
        <ion-col *ngFor="let a of array">
          <ion-item [routerLink]="['/fontaneros/']" fragment="{{ a.title }}" routerDirection="forward" class="hogar-link">{{ a.title }}</ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding hogar-grid">
    
    <ion-row id="{{ array[0].title }}">
      <ion-col size="12" size-md class="" style="z-index: 2000;">
        <ion-img src="../../../assets/images/fregadero2.jpg" alt="{{ imgAlt1 }}"></ion-img>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Fontaneros</ion-card-title>
            <ion-card-subtitle>La primera visita siempre es gratis</ion-card-subtitle>
            
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="hogar-title" id="{{ array[1].title }}">
      <ion-col size="12" size-md>
        <h1> {{ array[1].title }} </h1>
      </ion-col>
    </ion-row>

    <ion-row >
      <ion-col size="12" size-md class="hogar-text">
        <p>
        Realizamos todo tipo de reparaciones al mejor precio. Nuestros fontaneros baratos realizan todo tipo de trabajos de fontanería. 
        </p>
        <p>
          Nuestra empresa de fontanería está especializada en desatrancos de tuberías sin romper; para ello disponemos de diferentes herramientas y maquinarias para realizar los desatascos al mejor precio y con máxima garantía.
        </p>
        <p>
          Podemos asegurarles que somos de la empresa de fontanería más económica de la Comunidad de Madrid. Al no tener ningún coste por desplazamiento, usted puede decidir con livertad, si realizar nuestro trabajo o no.
        </p>
      </ion-col>
      <ion-col size="12" size-md class="">
        <ion-img src="../../../assets/images/fregadero3.jpg" alt= "{{ imgAlt2 }}"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row class="ion-wrap-reverse">
      <ion-col size="12" size-md class="">
        <ion-img src="../../../assets/images/fregadero1.jpg" alt= "{{ imgAlt3 }}"></ion-img>
      </ion-col>
      <ion-col size="12" size-md class="hogar-text">
        <p>
          Localizamos fugas de agua por termografía y gas trazador. Localizador de fugas en Piscina. Localizamos fugas de agua por termografía y gas trazador. Sin picar ni causar daños.
        </p>
        <p>
          Empresa especializada en detección y localización de fugas de agua ocultas. Reparamos la fuga de agua sin romper. Confía en profesionales.
        </p> 
      </ion-col>
    </ion-row>

    <ion-row class="hogar-title" id="{{ array[2].title }}">
      <ion-col size="12" size-md>
        <h1>{{ array[2].title }}</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-md class="">
        <div class="hogar-services">
          <div>
            <div class="titleServices">Urgencias</div>
          </div>
        
          <div class="textServices">
            Si necesitas un servicio urgente solo tienes que llamarnos. Nuestros fontaneros atienden servicios cualquier día de la semana a cualquier hora. Nuestros fontaneros en Madrid acuden al domicilio en tiempo record.
          </div>
        </div>
      </ion-col>

      <ion-col size="12" size-md class="">
        <div class="hogar-services">
          <div>
            <div class="titleServices">Desatascos Hogar</div>
          </div>
        
          <div class="textServices">
            Contamos con un sistema de última tecnología para solucionar los problemas de atrancos en viviendas con un coste muy inferior a los desatrancos habituales con camión.
          </div>
        </div>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size="12" size-md class="">
        <div class="hogar-services">
          <div>
            <div class="titleServices">Pocería</div>
          </div>
        
          <div class="textServices">
            Disponemos de poceros en Madrid, contamos con la mejor maquinaria para atender todo tipo de desatrancos. Contamos con camiones y máquinas portátiles para acceder a donde no pueden acceder los camiones.
          </div>
        </div>
      </ion-col>

      <ion-col size="12" size-md class="">
        <div class="hogar-services">
          <div>
            <div class="titleServices">Instalaciones</div>
          </div>
        
          <div class="textServices">
            Instalación y reparación de sanitarios, grifería, WC, tuberías, multicapa, plomo, fontanería en cocinas, baños y reparaciones de fontanería del hogar. Instalación de descalcificadores y desatascos económicos en hogares.
          </div>
        </div>
      </ion-col>

    </ion-row>
    
    <ion-row class="hogar-title" id="{{ array[3].title }}">
      <ion-col size="12" size-md>
        <h1>{{ array[3].title }}</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-md class="">
        <ion-item-group style="margin-left:10vw; margin-right:10vw; margin-bottom:10vw;">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-textarea [formControl]="name"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-textarea [formControl]="email"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Teléfono</ion-label>
            <ion-textarea [formControl]="phone"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Asunto</ion-label>
            <ion-textarea [formControl]="subject"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Mensaje</ion-label>
            <ion-textarea rows=10 [formControl]="message"></ion-textarea>
          </ion-item>
          <ion-button color="dark"  (click)="sendEmail()" class="boton_acción">
            <ion-icon slot="start" name="mail-outline"></ion-icon>
            Enviar
          </ion-button>
        </ion-item-group>
          
      </ion-col>
      <ion-col size="12" size-md class="">
        <ion-item-group style="margin:10vw">
          <ion-item>
            <ion-label position="fixed">
              Email:
            </ion-label>
            <ion-label>
              operations@grinboss.com
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="fixed">
              Teléfono:
            </ion-label>
            <ion-label>
              606 41 02 75
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="fixed">
              Web:
            </ion-label>
            <ion-label>
              https://hogar.grinboss.com
            </ion-label>
          </ion-item>
        </ion-item-group>
        
    </ion-col>
    </ion-row>
    <app-footer></app-footer>
  </ion-grid>
  
</ion-content>