<ion-header style="z-index: 200000;" >
  <ion-toolbar class="toolbar-background">
    <ion-buttons slot="start" style="margin-top: px; padding-top: 0px;">
      <ion-menu-button></ion-menu-button>
      <ion-label >{{pageTitle}}</ion-label>
    </ion-buttons>
  
    <ion-grid class="hogar-menu">
      <ion-row>
        <ion-col size="6">
        </ion-col>
        <ion-col *ngFor="let a of array">
          <ion-item [routerLink]="['/']" fragment="{{ a.title }}" routerDirection="forward" class="hogar-link">{{ a.title }}</ion-item>
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding hogar-grid">
    
    <ion-row id="{{ array[0].title }}">
      <ion-col size="12" size-md class="" style="z-index: 2000;">
        <ion-img src="../../../assets/images/despacho-madera.jpg" alt="{{ imgAlt1 }}"></ion-img>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{cardTitle}}</ion-card-title>
            <ion-card-subtitle>{{slogan}}</ion-card-subtitle>
            
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="hogar-title" id="{{ array[1].title }}">
     
      <ion-col size="12" size-md>
        <h1> {{ array[1].title }} </h1>
      </ion-col>
    </ion-row>

    <ion-row >
      <ion-col size="12" size-md class="hogar-text">
        
        <p>
          {{paragraph1_benefits}}
        </p>
        <p>
          {{paragraph2_benefits}}
        </p>
        <p>
          {{paragraph3_benefits}}
        </p>
      </ion-col>
      <ion-col size="12" size-md class="">
        <ion-img src="../../../assets/images/mesa.jpg" alt= "{{ imgAlt2 }}"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row class="ion-wrap-reverse">
      <ion-col size="12" size-md class="">
        <ion-img src="../../../assets/images/semilla.jpg" alt= "{{ imgAlt3 }}"></ion-img>
      </ion-col>
      <ion-col size="12" size-md class="hogar-text">
        <p>
          {{paragraph4_benefits}}
        </p>
        <p>
          {{paragraph5_benefits}}

        </p> 

        <ion-list *ngFor="let line of strategicLines">
          
          <ion-item>
            
            <ion-label class="ion-text-wrap">
            <p>{{line}}</p>
            </ion-label>
            <ion-icon name="checkmark-circle-outline" slot = "start"></ion-icon>
          </ion-item>
          
        </ion-list>
        

      </ion-col>
    </ion-row>

  
    
    <ion-row class="hogar-title" id="{{ array[2].title }}">
      <ion-col size="12" size-md>
        <h1>{{ array[2].title }}</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-md class="">
        <ion-item-group style="margin-left:10vw; margin-right:10vw; margin-bottom:10vw;">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-textarea [formControl]="name"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-textarea [formControl]="email"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Teléfono</ion-label>
            <ion-textarea [formControl]="phone"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Asunto</ion-label>
            <ion-textarea [formControl]="subject"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Mensaje</ion-label>
            <ion-textarea rows=10 [formControl]="message"></ion-textarea>
          </ion-item>
          <ion-button color="dark"  (click)="sendEmail()" class="boton_acción">
            <ion-icon slot="start" name="mail-outline"></ion-icon>
            Enviar
          </ion-button>
        </ion-item-group>
          
      </ion-col>
      <ion-col size="12" size-md class="">
        <ion-item-group style="margin:10vw">
          <ion-item>
            <ion-label position="fixed">
              Email:
            </ion-label>
            <ion-label>
              {{emailContact}}
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="fixed">
              Teléfono:
            </ion-label>
            <ion-label>
              {{phoneContact}}
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="fixed">
              Web:
            </ion-label>
            <ion-label>
              {{websiteContact}}
            </ion-label>
          </ion-item>
        </ion-item-group>
        
    </ion-col>
    </ion-row>
    <app-footer></app-footer>
  </ion-grid>
  
</ion-content>